/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(assets/Montserrat.ttf) format("opentype");
}

*{
    font-family: Montserrat;
}